*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.stop-scrolling {
  height: 100%;
  overflow: hidden; }

body {
  background-color: #111;
  color: #fff;
  line-height: 1.5;
  font-family: "Clash Display", sans-serif; }

.head__text {
  font-size: 1.7rem; }
  @media only screen and (max-width: 36em) {
    .head__text {
      font-size: 1.6rem; } }

h1 {
  font-size: 6rem;
  font-weight: 600;
  word-spacing: .5rem;
  line-height: 1.2; }
  @media only screen and (max-width: 48em) {
    h1 {
      font-size: 4.5rem;
      margin-bottom: 1rem; } }
  @media only screen and (max-width: 36em) {
    h1 {
      font-size: 4.4rem; } }

h2 {
  font-size: 2.8rem;
  background-image: linear-gradient(to right, #ee2a6d, #27bcec);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 700; }
  @media only screen and (max-width: 36em) {
    h2 {
      font-size: 2.3rem; } }

h3 {
  font-size: 2rem; }

.container {
  max-width: 116rem;
  margin: 0 auto; }
  @media only screen and (max-width: 75em) {
    .container {
      padding: 0 2rem; } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 3rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 6rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  padding: 1.7rem 5.2rem;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.5rem;
  cursor: pointer; }

.btn--primary {
  background-color: #ee2a6d;
  color: #fff; }

.btn--primary-border {
  border: 1px solid #ee2a6d;
  color: #fff; }

.btn--secondary {
  background-color: #27bcec;
  color: #fff; }

.btn--secondary-border {
  border: 1px solid #27bcec; }

.card__container {
  max-width: 116rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-gap: 4rem; }
  @media only screen and (max-width: 60em) {
    .card__container {
      display: none; } }

.card {
  background-color: #1a1a1a;
  cursor: pointer;
  display: grid;
  grid-template-rows: 40rem min-content;
  transition: transform .3s; }
  .card:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .card .card__picture {
    background-size: cover;
    background-position: center; }
    .card .card__picture--1 {
      background-image: url(../../img/no-limits.jpg); }
    .card .card__picture--2 {
      background-image: url(../../img//spaceships-img.jpg); }
    .card .card__picture--3 {
      background-image: url(../../img/samba.jpg); }
    .card .card__picture--4 {
      background-image: url(../../img/AFro-beats-vibe.jpg); }
  .card .card__content {
    padding: 2rem;
    display: grid;
    grid-template-rows: min-content 6rem min-content;
    grid-row-gap: 1.2rem; }
    .card .card__content h3 {
      font-weight: 600;
      font-size: 1.7rem;
      text-transform: uppercase; }
    .card .card__content p {
      color: white;
      font-size: 1.4rem; }
    .card .card__content a {
      justify-self: start;
      margin-top: 1rem; }

.faqs {
  max-width: 65rem;
  margin: 0 auto; }
  @media only screen and (max-width: 75em) {
    .faqs {
      padding: 0 2rem; } }

.collapsible__header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid #ffffff26; }

.collapsible__heading {
  color: #fff;
  text-transform: none;
  font-weight: 500;
  font-size: 2.2rem; }

.collapsible__button {
  background-color: #ee2a6d;
  border: none;
  cursor: pointer;
  padding: .7rem .8rem;
  border-radius: 50%; }
  .collapsible__button:focus {
    outline: none; }

.collapsible__icon {
  fill: #d4d4d4de;
  width: 2rem;
  height: 2rem;
  transition: transform .3s; }

.collapsible__content {
  font-size: 1.8rem;
  padding: 1.2rem 0 1.5rem 0;
  color: rgba(255, 255, 255, 0.7);
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all .3s; }

.collapsible__expanded .collapsible__icon {
  transform: rotate(-45deg); }

.collapsible__expanded .collapsible__content {
  max-height: 100vh;
  /* maximum of 100vh but its not going to strech more than its content */
  overflow: visible;
  opacity: 1; }

.form {
  max-width: 65rem;
  margin: 0 auto; }
  @media only screen and (max-width: 75em) {
    .form {
      padding: 0 2rem; } }
  .form__box {
    margin-bottom: 1.6rem; }
  .form__label {
    display: block;
    font-family: inherit;
    margin-bottom: .2rem;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.7); }
  .form__input {
    border: none;
    display: block;
    width: 100%;
    padding: 1.3rem 1rem;
    border-radius: .5rem;
    background-color: #222;
    color: #fff;
    font-size: 1.6rem; }
    .form__input:focus {
      outline: none; }
  .form__button {
    border: none;
    width: 100%;
    padding: 1.5rem 0;
    background-color: #ee2a6d;
    color: #fff;
    border-radius: .5rem;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s;
    font-family: inherit; }
    .form__button:hover {
      background-color: #222; }

#message {
  margin-top: 1.5rem; }

.howto {
  max-width: 86rem;
  margin: 0 auto;
  max-height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, minmax(min-content, 1fr)); }
  @media only screen and (max-width: 48em) {
    .howto {
      grid-template-rows: repeat(5, min-content); } }
  .howto__img {
    width: 100%;
    grid-row: 1 / -1;
    grid-column: 2 / 3; }
    @media only screen and (max-width: 48em) {
      .howto__img {
        height: 100%;
        object-fit: cover; } }
  @media only screen and (max-width: 48em) {
    .howto__box {
      transform: scale(0.9); } }
  @media only screen and (max-width: 36em) {
    .howto__box {
      transform: scale(0.8); } }
  .howto__header {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 36em) {
      .howto__header {
        font-size: 1.8rem;
        margin-bottom: .2rem; } }
  .howto__text {
    font-size: 1.6rem;
    font-weight: 400; }
    @media only screen and (max-width: 36em) {
      .howto__text {
        font-size: 1.45rem; } }
  .howto__box--1 {
    align-self: center;
    text-align: right;
    padding-right: 1.5rem; }
    @media only screen and (max-width: 36em) {
      .howto__box--1 {
        align-self: start;
        padding: 0; } }
  .howto__box--2 {
    grid-row: 2 / 3;
    grid-column: 3 / -1;
    align-self: center;
    text-align: left;
    padding-left: 1.5rem; }
    @media only screen and (max-width: 36em) {
      .howto__box--2 {
        align-self: start;
        padding: 0; } }
  .howto__box--3 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    align-self: center;
    text-align: right;
    padding-right: 1.5rem; }
    @media only screen and (max-width: 36em) {
      .howto__box--3 {
        align-self: start;
        padding: 0; } }
  .howto__box--4 {
    grid-row: 4 / 5;
    grid-column: 3 / -1;
    align-self: center;
    text-align: left;
    padding-left: 1.5rem; }
    @media only screen and (max-width: 36em) {
      .howto__box--4 {
        align-self: start;
        padding: 0; } }
  .howto__box--5 {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
    align-self: center;
    text-align: right;
    padding-right: 1.5rem; }
    @media only screen and (max-width: 36em) {
      .howto__box--5 {
        align-self: start;
        padding: 0; } }

.modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9;
  overflow: hidden;
  display: flex;
  justify-content: center; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .modal {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .modal__content {
    display: flex;
    align-items: center; }
  .modal__button--cancel {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    background-color: transparent; }
  .modal__button {
    border: none;
    border-radius: 50%;
    padding: .5rem;
    background: #fff;
    margin: 0 2rem;
    cursor: pointer;
    z-index: 10; }
    @media only screen and (max-width: 56.25em) {
      .modal__button {
        margin: 0; } }
    @media only screen and (max-width: 56.25em) {
      .modal__button--prev {
        position: absolute;
        left: 3rem; } }
    @media only screen and (max-width: 48em) {
      .modal__button--prev {
        left: 2.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .modal__button--prev {
        left: 1rem; } }
    @media only screen and (max-width: 56.25em) {
      .modal__button--next {
        position: absolute;
        right: 3rem; } }
    @media only screen and (max-width: 48em) {
      .modal__button--next {
        right: 2.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .modal__button--next {
        right: 1rem; } }
  .modal__icon-navigate {
    width: 2.5rem;
    height: 2.5rem;
    fill: #333; }
  .modal__icon-cancel {
    width: 3.5rem;
    height: 3.5rem;
    fill: #ffffffdd; }
  .modal__img {
    max-width: 650px; }
    @media only screen and (max-width: 56.25em) {
      .modal__img {
        max-width: 600px; } }
    @media only screen and (max-width: 37.5em) {
      .modal__img {
        max-width: 100%; } }

.img-container {
  display: none; }

.remove-display {
  opacity: 0;
  visibility: hidden;
  transition: all .2s .2s; }

.add-display {
  opacity: 1;
  visibility: visible;
  transition: all .3s; }

.remove-image {
  transform: translateY(10rem);
  opacity: 0;
  transition: all .5s; }
  @media only screen and (max-width: 37.5em) {
    .remove-image {
      transform: translateY(5rem); } }

.add-image {
  transform: translateY(0);
  opacity: 1;
  transition: all .4s .2s; }

.recent {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }
  @media only screen and (max-width: 60em) {
    .recent {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 48em) {
    .recent {
      grid-template-columns: 1fr; } }
  .recent__item {
    position: relative;
    cursor: pointer; }
  .recent__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity .4s;
    opacity: 0.9; }
    @media only screen and (max-width: 60em) {
      .recent__img {
        opacity: 0.7; } }
  .recent__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    opacity: 0;
    transition: all .4s;
    fill: #fff;
    width: 7rem;
    height: 7rem; }
    @media only screen and (max-width: 60em) {
      .recent__icon {
        opacity: 1;
        transform: translate(-50%, -50%); } }
  .recent__item:hover .recent__icon {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .recent__item:hover .recent__img {
    opacity: 0.7; }

.slides,
.slider__btn,
.dots {
  display: none; }

@media only screen and (max-width: 60em) {
  .slides {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 60rem;
    display: block;
    position: relative;
    height: 65rem;
    /* IN THE END */
    overflow: hidden; }
  .slide {
    background-color: #1a1a1a;
    cursor: pointer;
    display: grid;
    grid-template-rows: 40rem min-content;
    transition: transform .7s;
    position: absolute;
    top: 0;
    width: 100%;
    height: auto; }
    .slide:hover {
      transform: translateY(-1.5rem) scale(1.03); }
    .slide .slide__picture {
      background-size: cover;
      background-position: center; }
      .slide .slide__picture--1 {
        background-image: url(../../img/no-limits.jpg); }
      .slide .slide__picture--2 {
        background-image: url(../../img//spaceships-img.jpg); }
      .slide .slide__picture--3 {
        background-image: url(../../img/samba.jpg); }
      .slide .slide__picture--4 {
        background-image: url(../../img/AFro-beats-vibe.jpg); }
    .slide .slide__content {
      padding: 2rem;
      display: grid;
      grid-template-rows: min-content 6rem min-content;
      grid-row-gap: 1.2rem; }
      .slide .slide__content h3 {
        font-weight: 600;
        font-size: 1.7rem;
        text-transform: uppercase; }
      .slide .slide__content p {
        color: white;
        font-size: 1.4rem; }
      .slide .slide__content a {
        justify-self: start;
        margin-top: 1rem; }
  .slider__btn,
  .dots {
    display: block; }
  .slider__btn {
    position: absolute;
    top: 50%;
    border: none;
    background: #fff;
    font-family: inherit;
    color: #333;
    border-radius: 50%;
    font-size: 3.25rem;
    cursor: pointer;
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .slider__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: #000; }
  .slider__btn--left {
    left: 10rem;
    transform: translate(-50%, -50%); } }
  @media only screen and (max-width: 60em) and (max-width: 56.25em) {
    .slider__btn--left {
      left: 6rem; } }
  @media only screen and (max-width: 60em) and (max-width: 50em) {
    .slider__btn--left {
      left: 4rem; } }
  @media only screen and (max-width: 60em) and (max-width: 37.5em) {
    .slider__btn--left {
      left: 3.5rem; } }

@media only screen and (max-width: 60em) {
  .slider__btn--right {
    right: 10rem;
    transform: translate(50%, -50%); } }
  @media only screen and (max-width: 60em) and (max-width: 56.25em) {
    .slider__btn--right {
      right: 6rem; } }
  @media only screen and (max-width: 60em) and (max-width: 50em) {
    .slider__btn--right {
      right: 4rem; } }
  @media only screen and (max-width: 60em) and (max-width: 37.5em) {
    .slider__btn--right {
      right: 3.5rem; } }

@media only screen and (max-width: 60em) {
  .dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex; }
  .dots__dot {
    border: none;
    background-color: #b9b9b9ae;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;
    /* Only necessary when overlying images */
    /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */ }
  .dots__dot:last-child {
    margin: 0; }
  .dots__dot--active {
    background-color: #fff;
    opacity: 1; } }

.video {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .video {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .video__content {
    width: 800px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 56.25em) {
      .video__content {
        max-width: 100%; } }
  .video__button--cancel {
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;
    border: none;
    background-color: transparent; }
  .video__icon-cancel {
    width: 4rem;
    height: 4rem;
    fill: #ffffffdd; }

.remove-video {
  scale: 0.7;
  opacity: 0;
  transition: all .5s; }

.add-video {
  scale: 1;
  opacity: 1;
  transition: all .4s .2s; }

.logo__img {
  width: 15rem;
  margin: 4rem 0 4rem 0; }

.link__wrapper {
  padding: 1rem 0;
  border-top: 1px solid #ffffff99;
  display: flex;
  justify-content: space-between; }

.nav__link {
  list-style: none;
  display: flex;
  padding: 0;
  padding: 0 1rem; }
  @media only screen and (max-width: 36em) {
    .nav__link {
      display: none; } }
  .nav__link li:not(:last-child) {
    margin-right: 1.7rem; }
  .nav__link--item {
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500; }
  .nav__link__link:last-child {
    margin-right: 2rem; }

.text-box {
  width: 60%; }
  @media only screen and (max-width: 62.5em) {
    .text-box {
      width: 80%;
      margin: 0 auto;
      text-align: center; } }
  @media only screen and (max-width: 36em) {
    .text-box {
      width: 100%; } }

.text-box a {
  margin-top: 2.5rem; }

.section__header {
  width: 60%;
  margin: 0 auto; }
  @media only screen and (max-width: 36em) {
    .section__header {
      width: 80%; } }

.section-hero {
  padding: 8rem 0; }

.section-works {
  position: relative;
  padding: 5rem 0; }
  .section-works h2 {
    margin-bottom: 1rem; }
  @media only screen and (max-width: 75em) {
    .section-works {
      padding: 5rem 2rem; } }

.section-recent {
  padding: 4rem 0 0 0; }
  .section-recent .section__header {
    width: 45%; }
    @media only screen and (max-width: 48em) {
      .section-recent .section__header {
        width: 70%; } }
    @media only screen and (max-width: 36em) {
      .section-recent .section__header {
        width: 80%; } }

.section-howto {
  padding: 3rem 0;
  background-color: #1A1A1A; }

.section-ready {
  padding: 5.5rem 0;
  background-image: linear-gradient(149deg, #108eb6, #b4e8f8); }
  @media only screen and (max-width: 36em) {
    .section-ready {
      padding: 4.5rem 0; } }
  .section-ready .ready-container {
    text-align: center; }
  .section-ready h3 {
    color: #DCF2F4;
    font-weight: 600;
    font-size: 2.4rem;
    display: inline-block;
    border-bottom: 1px solid #DCF2F4;
    line-height: normal;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 36em) {
      .section-ready h3 {
        font-size: 2.2rem;
        margin-bottom: 1.2rem; } }
  .section-ready h2 {
    color: #DCF2F4;
    display: block;
    text-transform: none;
    font-size: 5.5rem;
    font-weight: 600;
    margin-bottom: .3rem; }
    @media only screen and (max-width: 36em) {
      .section-ready h2 {
        font-size: 3.4rem; } }
  .section-ready p {
    color: #DCF2F4;
    display: block;
    font-weight: 500;
    font-size: 2rem; }

.section-form {
  padding: 5rem 0; }
  .section-form h2 {
    margin-bottom: .4rem; }

.section-faqs {
  padding: 4rem 0; }

.section-footer {
  background-color: #1A1A1A;
  padding: 4rem; }
