.logo {

    &__img {
        width: 15rem;
        margin: 4rem 0 4rem 0;
    }
}

.link__wrapper {
    padding: 1rem 0;
    border-top: 1px solid #ffffff99;

    display: flex;
    justify-content: space-between;
}

.nav__link {
    list-style: none;
    display: flex;
    padding: 0;
    padding: 0 1rem;

    @media only screen and (max-width: $bp-576px) {
        display: none;
    }
    
    & li:not(:last-child) {
        margin-right: 1.7rem;
    }
    
    &--item {
        color: $text-color;
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 500;
    }

    &__link:last-child {
        margin-right: 2rem;
    }
}