$color-primary: #ee2a6d;
$color-secondary: #27bcec;

$container-width: 116rem;

// $text-color: #fff;  
$text-color: #DCF2F4;  

// font
$font-body: 'Clash Display', sans-serif; 

// RESPONSIVE BREAKPOINTS
$bp-1200px: 75em; // 1200px

$bp-large: 62.5em; // 1000px
$bp-960px: 60em; // 960px
$bp-medium: 50em; // 800px
$bp-768px: 48em; // 768px
$bp-small: 37.5em; // 600px
$bp-576px: 36em; // 576px