// .container {
//     max-width: $container-width;
//     margin: 0 auto;

//     @media only screen and (max-width: $bp-1200px) {
//         padding: 0 2rem; 
//     }
// }

.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-small {
    margin-bottom: 3rem !important;
}

.u-margin-bottom-medium {
    margin-bottom: 6rem !important;
}

.u-margin-bottom-big {
    margin-bottom: 8rem !important;
}

.u-margin-top-small {
    margin-top: 4rem !important;
}

.u-margin-top-big {
    margin-top: 8rem !important;
}

.u-margin-top-huge {
    margin-top: 10rem !important;
}