.btn {
    
    &,
    &:link,
    &:visited {
        padding: 1.7rem 5.2rem;
        display: inline-block;
        border-radius: 10rem;
        font-size: 1.5rem;

        // for the <button> element
        // border: none;
        cursor: pointer;
    }

    &--primary {
        background-color: $color-primary;
        color: $text-color;
    }

    &--primary-border {
        border: 1px solid $color-primary;
        color: $text-color;
    }

    &--secondary {
        background-color: $color-secondary;
        color: $text-color;
    }

    &--secondary-border {
        border: 1px solid $color-secondary;
    }


}