.faqs {
    max-width: 65rem;
    margin: 0 auto;

    @media only screen and (max-width: $bp-1200px) {
        padding: 0 2rem;
    }
}

.collapsible {
    
    &__header {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 0 2rem 0;
        border-bottom: 1px solid #ffffff26;
    }

    &__heading {
        color: $text-color;
        text-transform: none;
        font-weight: 500;
        font-size: 2.2rem;
    }

    &__button {
        background-color: $color-primary;
        border: none;
        cursor: pointer;
        padding: .7rem .8rem;
        border-radius: 50%;

        &:focus {
            outline: none;
        }
    }

    &__icon {
        fill: #d4d4d4de;
        width: 2rem;
        height: 2rem;

        transition: transform .3s;
    }

    &__content {
        // font-weight: 500;
        font-size: 1.6rem;
        padding: 1.2rem 0;
        color: rgba($text-color, .7);

        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all .3s;
    }

    &__expanded &__icon {
        transform: rotate(-45deg);
    }

    &__expanded &__content { 
        max-height: 100vh;
        margin-bottom: .5rem;
        /* maximum of 100vh but its not going to strech more than its content */
        overflow: visible;
        opacity: 1;
    }
}
