.howto {
    max-width: 86rem;
    margin: 0 auto;

    max-height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, minmax(min-content, 1fr));
    // background-color: rgba(228, 198, 198, 0.701);

    @media only screen and (max-width: $bp-768px) {
        grid-template-rows: repeat(5, min-content);
    }

    @media only screen and (max-width: $bp-576px) {
        // grid-template-columns: min-content max-content min-content;
        // align-items: start;
    }

    &__img {
        width: 100%;
        grid-row: 1 / -1;
        grid-column: 2 / 3;

        @media only screen and (max-width: $bp-768px) {
            height: 100%;
            object-fit: cover;
        }
    }

    &__box {

        @media only screen and (max-width: $bp-768px) {
            transform: scale(0.9);
        }
        @media only screen and (max-width: $bp-576px) {
            transform: scale(0.8);
        }
    }

    &__header {
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 1rem;

        @media only screen and (max-width: $bp-576px) {
            font-size: 1.8rem;
            margin-bottom: .2rem;
        }
    }

    &__text {
        font-size: 1.6rem;
        font-weight: 400;

        @media only screen and (max-width: $bp-576px) {
            font-size: 1.45rem;
        }
    }

    &__box--1 {
        align-self: center;
        text-align: right;
        padding-right: 1.5rem;

        @media only screen and (max-width: $bp-576px) {
            align-self: start;
            padding: 0;
        }
    }

    &__box--2 {
        grid-row: 2 / 3;
        grid-column: 3 / -1;
        align-self: center;
        text-align: left;
        padding-left: 1.5rem;

        @media only screen and (max-width: $bp-576px) {
            align-self: start;
            padding: 0;
        }
    }

    &__box--3 {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        align-self: center;
        text-align: right;
        padding-right: 1.5rem;

        @media only screen and (max-width: $bp-576px) {
            align-self: start;
            padding: 0;
        }
    }

    &__box--4 {
        grid-row: 4 / 5;
        grid-column: 3 / -1;
        align-self: center;
        text-align: left;
        padding-left: 1.5rem;

        @media only screen and (max-width: $bp-576px) {
            align-self: start;
            padding: 0;
        }
    }

    &__box--5 {
        grid-row: 5 / 6;
        grid-column: 1 / 2;
        align-self: center;
        text-align: right;
        padding-right: 1.5rem;

        @media only screen and (max-width: $bp-576px) {
            align-self: start;
            padding: 0;
        }
    }
}