.info-container {
    display: grid ;
    grid-template-columns: repeat(4, 1fr);
    // justify-items: center;

    @media only screen and (max-width: $bp-960px) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 4rem;
        justify-content: center;
    }

    @media only screen and (max-width: $bp-576px) {
        grid-template-columns: min-content;
    }
}

.info {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 2rem;  

    @media only screen and (max-width: $bp-960px) {
        justify-content: center;
    }
    @media only screen and (max-width: $bp-576px) {
        justify-content: start;
    }

    &__icon { 
        grid-row: 1 / 3;
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;
        align-self: center;

        @media only screen and (max-width: $bp-576px) {
            width: 4.3rem;
            height: 4.3rem;
        }
    }

    &__text {
        font-size: 4.7rem; 
        font-weight: 600;
        line-height: 1;

        @media only screen and (max-width: $bp-576px) {
            font-size: 4.3rem;
        }
        
        &--detail {
            font-size: 1.8rem;
            grid-column: 2 / -1;
            font-weight: 500;

            @media only screen and (max-width: $bp-576px) {
                font-size: 1.6rem;
            }
        }
    }
}