.recent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media only screen and (max-width: $bp-960px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: $bp-768px) {
        grid-template-columns: 1fr;
    }

    &__item {
        position: relative;
        cursor: pointer;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        transition: opacity .4s;
        opacity: 0.9;

        @media only screen and (max-width: $bp-960px) {
            opacity: 0.7;
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        opacity: 0;
        transition: all .4s;

        fill: #fff;
        width: 7rem;
        height: 7rem;

        @media only screen and (max-width: $bp-960px) {
            opacity: 1;
            transform: translate(-50%, -50%);
        }
    }

    &__item:hover &__icon {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &__item:hover &__img {
        opacity: 0.7;
    }
}