.video {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba($color-black, .8);
    z-index: 9;
    // overflow: hidden;

    // display: flex;
    // justify-content: center;

    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        // IF HE BROWSER SUPPORTS THE CLASS
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px); // NEW CLASS
        background-color: rgba($color-black, .3);
    }

    &__content {
        width: 800px;
        height: auto;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media only screen and (max-width: $bp-900px) {
            max-width: 100%;
        }
    } 

    &__button--cancel {
        cursor: pointer;
        position: absolute;
        top: 2rem;
        right: 2rem;
        border: none;
        background-color: transparent;
    }

    &__icon-cancel {
        width: 4rem;
        height: 4rem;
        fill: #ffffffdd;
    }
}

.remove-video {
    scale: 0.7;
    opacity: 0;
    transition: all .5s;
}

.add-video {
    scale: 1;
    opacity: 1;
    transition: all .4s .2s;
}