.section-display {
    padding: 9rem 4rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../img/lil-nax-background.jpg);
    background-position-x: right;
    background-position-y: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 1rem;

    @media only screen and (max-width: $bp-576px) {
        padding: 9rem 2rem;
    }

    .display-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        & h1 {
            font-size: 5rem;
            color: #F6F3ED;
            letter-spacing: 2px;
            font-weight: 600;

            @media only screen and (max-width: $bp-768px) {
                font-size: 4rem;
            }

            @media only screen and (max-width: $bp-576px) {
                font-size: 3.2rem;
            }
        }

        & p {
            font-size: 1.6rem;
            width: 50%;

            @media only screen and (max-width: $bp-768px) {
                width: 80%;
            }

            @media only screen and (max-width: $bp-576px) {
                width: 100%;
            }
        }
    }
}

.section-gallery {
    margin-bottom: 4rem;

    & h2 {
        color: #F6F3ED;
        text-transform: none;
        font-weight: 600;
        font-size: 3.2rem;
        padding: 1.5rem 4rem;

        @media only screen and (max-width: $bp-768px) {
            font-size: 2.8rem;

        }

        @media only screen and (max-width: $bp-576px) {
            font-size: 2.5rem;
            padding: 1.5rem 2rem;
        }
    }
}