.section__header {
    width: 60%;
    margin: 0 auto;

    @media only screen and (max-width: $bp-576px) {
        width: 80%;
    }
}

.section-hero {
    padding: 8rem 0;
}

.section-works {
    position: relative;
    // background-color: #1A1A1A;
    padding: 5rem 0;

    & h2 {
        margin-bottom: 1rem;
    }

    @media only screen and (max-width: $bp-1200px) {
        padding: 5rem 0 9rem 0;
    }
}

.section-recent {
    padding: 4rem 0 0 0;

    & .section__header {
        width: 45%;

        @media only screen and (max-width: $bp-768px) {
            width: 70%;
        }

        @media only screen and (max-width: $bp-576px) {
            width: 80%;
        }
    }
}

.section-howto {
    padding: 3rem 0;
    background-color: #1A1A1A;
}

.section-ready {
    padding: 5.5rem 0;
    background-image: linear-gradient(149deg, darken($color-secondary, 15%), lighten($color-secondary, 30%));
    // background-image: linear-gradient(149deg, #18939e, #b8dbdf);

    @media only screen and (max-width: $bp-576px) {
        padding: 4.5rem 0;
    }

    .ready-container {
        text-align: center;
    }

    h3 {
        color: #DCF2F4;
        font-weight: 600;
        font-size: 2.4rem;
        display: inline-block;
        border-bottom: 1px solid #DCF2F4;
        line-height: normal;

        margin-bottom: 1rem;

        @media only screen and (max-width: $bp-576px) {
            font-size: 2.2rem;
            margin-bottom: 1.2rem;
        }
    }

    h2 {
        color: #DCF2F4;
        display: block;
        text-transform: none;
        font-size: 5.5rem;
        font-weight: 600;
        margin-bottom: .3rem;

        @media only screen and (max-width: $bp-576px) {
            font-size: 3.4rem;
        }
    }

    p {
        color: #DCF2F4;
        display: block;
        font-weight: 500;
        font-size: 2rem;
    }
}

.section-form {
    padding: 5rem 0;

    & h2 {
        margin-bottom: .4rem;
    }
}

.section-faqs {
    padding: 4rem 0;
}

.section-footer {
    background-color: #1A1A1A;
    padding: 2rem 0;

    p {
        font-size: 1.8rem;
        text-align: center;
    }
}